.card {
  width: 60%;
  /* Increase the width for a wider card */
  /* display: flex; */
  /* flex-direction: row; */
  /* Set the flex direction to row */
  border: 0.5px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 16px;
}



.card-content {
  /* flex-grow: 1; */
  /* padding: 10px;
  flex-direction: row; */
  flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    clear: both;
    color: white;
}

.card-title {
  font-size: 14px;
  
}

.card-description {
  font-size: 14px;
}

.card-action {
  padding: 16px;
  
  justify-content: space-between;
background-color: rgb(75, 159, 159);  }

.card-delete{
  /* background-color: #0d60d6; */
  margin: 10px;
}

.card-link {
  display: block;
  color: #4285f4;
  text-decoration: none;
  font-weight: 600;
  margin-top: 16px;
  transition: color 0.3s;
}

.card-link:hover {
  color: #0d60d6;
}

.card-title,
.card-description,
.card-delete,
.card-link {
  float: left;
}